@import '../variables';

.categories {
  @media (max-width: 1300px) {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }
  ul {
    display: flex;
    gap: 10px;

    @media (max-width: 1300px) {
      gap: 10px;
      overflow-x: auto;
      margin: 0 auto;
      padding-bottom: 15px;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
