@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: 800px) {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__logo {
    display: flex;

    @media (max-width: 800px) {
      align-items: center;
      gap: 10px;
    }

    img {
      margin-right: 15px;

      @media (max-width: 800px) {
        margin: 0;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;

      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}
